/* Main container layout */
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
  margin: 0;
  padding: 0;
}

/* Header section */
.layout-header {
  width: 100%;
  background-color: #f8f9fa;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Main content section */
.main-content {
  flex: 1; /* Takes up all available space */
  padding: 0%;
  margin: 0%;
  background-image: url("../../../public/assets/MPWR-bg-logo.png");
  background-size: cover;
}

/* Footer section */
.layout-footer {
  width: 100%;
  background-color: #343a40;
  color: #ffffff;
  padding: 1rem;
  margin-top: auto; /* Pushes footer to bottom */
}
